@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;

  font-family: "Mulish", "sans-serif", Arial, Helvetica;
}

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  padding-top: 20px;
}

.notify-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.notify {
  position: relative;
  overflow: hidden;

  width: 300px;
  padding: 15px;

  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;

  transform: translateX(0);
  opacity: 1;

  transition: transform 0.3s ease, opacity 0.3s ease, margin-top 0.3s ease;
}

.notify.enter {
  transform: translateY(100%);
  opacity: 0;
}

.notify.enter-active {
  transform: translateY(0);
  opacity: 1;
}

.notify.exit {
  transform: translateX(0);
  opacity: 1;
}

.notify.exit-active {
  transform: translateX(100%);
  opacity: 0;
}

.notify-title {
  font-weight: 700;
  margin-bottom: 5px;
}

.notify-message {
  font-size: 14px;
}

.notify-progress {
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 3px;

  background: #4caf50;

  transform: scaleX(1);
  transform-origin: left;
  transition: transform 5s linear;
}

.notify.progress-active .notify-progress {
  transform: scaleX(0);
}

.button {
  padding: 10px 20px;

  border-radius: 5px;
  border: none;
  background: #4caf50;

  font-size: 16px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background: #45a049;
}
